.fira-mono-regular {
  font-family: "Fira Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.fira-mono-medium {
  font-family: "Fira Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.fira-mono-bold {
  font-family: "Fira Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.mainLinks ul {
  padding-left : -6px; 
}

.mainLinks li {
  margin: 0px 10px;
  display: inline-block;
}

.mainLinks li a,
.projectsList li a {
  color: #fff;
}

.mainLinks li a:hover, 
.projectsList li a:hover {
  color: #7d7d7d;
  transition: 0.3s;
}

.introPar {
  color: #fff;
}

.projectsList {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 1rem; 
} 

